body {
  background-color: aquamarine;
}
.operational {
  width: 33px;
  margin-left: 10px;
  margin-right: 10px;
}
.operation_btn input {
  display: block;
  margin-top: 10px;
  margin-left: 12%;
  background-color: rgb(124, 124, 249);
}
.btn-1 {
  margin-right: 15px;
}
.answer_sheet {
  margin-top: 20px;
}
